In [9]:
import pandas as pd
fruits = pd.DataFrame({'Apple' : [30] , 'Bananas' : [21]})
fruits

   Apple  Bananas
0     30       21

In [10]:
fruit_sales = pd.DataFrame({'Apples' : [35, 41] , 'Bananas' : [21, 34]}, 
                           index = ['2017 Sales' , '2018 Sales'])

fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [13]:
ingredients = pd.Series(['4 cups', '1 cups', '2 large' , '1 can'], 
                        index = ['Flour', 'Milk', 'Eggs', 'Spam'],
                        name = 'Dinner')
ingredients

Flour     4 cups
Milk      1 cups
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [15]:
reviews = pd.read_csv("../../data/winemag-data_first150k.csv")
reviews

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...,...
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [16]:
animals = pd.DataFrame({'Cows' : [12,20], 'Goats' : [22,19]}, 
                       index = ['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [17]:
animals.to_csv("../../data/animals.csv", index = True)

In [18]:
import os
print(os.path.exists("../../data/animals.csv"))

True